body{
    margin: 0;
    text-align: center;
    color: #40514E;
}
.top{
    background-image: url(images/ONIVY20.jpg);
    height: 60vh;  
    margin-top: 0;
    padding-top: 25rem;
}

h1{
    font-size: 5.265em;
    font-family: 'Dancing Script', cursive;
    margin: 60px auto 0 auto;
    color: #FFFF; 
    line-height: 2;
    margin-top:0;

}

h2{
    font-family: 'Source Code Pro', monospace;
    margin-top: 30px;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;

}
.a.i
{
     margin-top: 5px;
}
h3
{
    color: #11999E;
}
a
{
    color: #11999E;
}

p
{
    font-family:'Source Code Pro', monospace;
    margin-bottom: 100px;
    line-height: 1.8;
}

/* navgigation bar */

nav
{
    background-color: transparent;
    width: 100%;
    position: fixed;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin: 0;
   
}
nav ul
{
    float: left;
    margin: 0;
}
nav ul li{
    font-family: 'Source Code Pro', monospace; 
    display: inline-block;
    line-height: 60px;
}
nav ul li a{
    color: #21bcc2;
    font-size: 20px;
    border-radius: 3px;
    padding-left: 60px;
    cursor: pointer;
    text-decoration: none;
}

a:hover{
    color: #13d6dd;
}

.middle-container
{
    margin: 100px 0;
}
.bottom-container
{
    background-color: #E1EEDD;
    padding: 50px 0 20px;
    height: 50px;
}
.profile
{
    text-align: center;
    width: 50%;
    margin: auto;
   
}
.profilepic
{
    width:30%   
}


.skill-row
{
    width: 50%;
    margin: 150px auto ;
    text-align: left;
}
.skillimage1
{
    width: 15%;
    float: left;
    margin-right: 30px;
}
.skillimage2
{
    width: 15%;
    float: right;
    margin-left:30px;
}

.Edu-row
{
    margin-bottom: 80px;
}
.Edu
{
    font-family:'Source Code Pro', monospace;
    margin-bottom: 100px;
    line-height: 1.8;
    font-size: 15px;

}

.contact-me
{
    clear: both;
    width: 50%;
    margin: auto;
}
hr
{
    border-color: #EAF6F6;
    border-style: dotted none none none;
    border-width: 10px;
    width: 5%;
}

.btn
{
    background-color: #11999E;
    color: white;
    border-radius: 10px;
    padding: 10px 20px; 
    font-size:x-large;
    text-decoration: none;
    position: relative;
    bottom: 30px;
    margin-right: 20px;
}
.btn:hover
{
    background-color: #40bfc4;
    color: white;
    border-radius: 10px;
    padding: 10px 20px; 
    font-size:x-large;
    text-decoration: none;
    position: relative;
    bottom: 30px;
}

.footer-link
{
    color: #618656;
    text-decoration: none;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 30px ;
}
.footer-link:hover
{
    color: #8dc77b;
}

.copy
{
    font-size: 0.75rem;
    color: #8dc77b;
    padding: 10px 0;
}


